* {
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
    place-self: center;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  
    // border: 1px solid red;
  }
  html, body {
    color: #fff;
    display: flex;
    flex-direction: column;

    .blue {
      color: #152462;
    }
    .social-btns {
      display: inline-flex;
    }
  
    header {
      display: flex;
      flex-direction: row;
      background: #2946BF;
      justify-content: space-between;
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 4;
    }
    section {
      img {
        width: 100%;
        height: auto;
      }
    }
    #hero {
        position: relative;

        picture {
          width: 100%;
        }

        .overlay {
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, rgba(0,0,0,0.9) 5%, rgba(0,0,0,0.5) 30%, rgba(255,255,255,0) 50%);
        }
        .overlayContent {
          position: absolute;
          overflow: hidden;
          width: 100%;
          height: 100%;
          top: 40%;
          display: flex;
        }
        .heroBtn {
          color: #fff;
          text-decoration: none;
          text-align: center;
          border: 2px solid #FFFFFF;
          border-radius: 360px;
        }
      }
      #about {
        display: flex;
        flex-direction: row;
        background: #00BF63;
      }

      #eventos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;

        .container {
          max-width: 90vw;
          display: flex;
          flex-direction: column;

          // .carousel::before,
          // .carousel::after {
          //   background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
          //   content: '';
          //   height: 100%;
          //   position: absolute;
          //   width: 15%;
          //   z-index: 2;
          //   border: 1px solid #000;
          // }
          // .carousel::before {
          //   left: 0;
          //   top: 0;
          // }
          // .carousel::after {
          //   right: 0;
          //   top: 0;
          //   transform: rotateZ(180deg);
          // }
          @keyframes scroll {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(calc(-17.5rem * 5));
            }
          }
          .carousel {
            display: flex;
            overflow: hidden;
            scroll-behavior: smooth;
            width: calc(17.5rem * 10);
            perspective: 100px;
            padding: 1rem;
            // animation: scroll 40s linear infinite;

            
            .item {
              background-color: #2946BF;
              margin: 0.625rem;
              // padding: 0.625rem;
              padding-bottom: 0.625rem;
              width: 17.5rem;
              border-radius: 20px;
              flex: none;
              transition: transform .3s;
              // border: 1px solid #000;
              // width: calc(17.5rem * 10);
              animation: scroll 40s linear infinite;
              
              &:hover {
                display: flex;
                flex-direction: column;
                // overflow: none;
                // z-index: 2;
                transform: translateZ(.6rem);
              }


              .image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                // object-fit: contain;
                // margin: 0;
              }
              .info {
                padding: 0 .2rem;
                height: 8.75rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                  display: block;
                  text-align: center;
                  color: #1e1e1e;
                  padding: .313rem;
                  border-radius: 10px;
                }
                .name {
                  font-weight: bold;
                  color: #fff;
                }
                .more-info {
                  font-size: 0.8rem;
                  color: #fff;
                  // flex-grow: 3;
                }
                .even-more-info {
                  margin-top: auto;
                  font-size: .8rem;
                  font-weight: bold;
                  // background-color: #fff;
                  border: 2px solid #FFFFFF;
                  color: #fff;
                  cursor: pointer;
                }
              }
            }
          }
          .buttons {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row;

            button {
              background-color: transparent;
              border: none;
              cursor: pointer;
              z-index: 2;

              img {
                width: 3rem;
              }
            }
            button:last-child img {
              transform: rotate(-180deg);
            }
          }
        }
      }

      #about2 {
        display: flex;
        flex-direction: row;
        background: #FCFF6D;
      }
      
      #gallery {
      display: flex;
      flex-direction: column;
      margin: 1rem .4rem;

      .images-container {
        max-width: 1200px;
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(50px, 1fr));
        gap: 1rem;
      }
      .image {
        width: 100%;
        cursor: pointer;
      }
      .image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
      }
    }

    footer {
      display: flex;
      flex-direction: row;
      width: 100%;
      background: #2946BF;
      color: #fff;
      justify-content: space-between;
    }
  }
  

  // Phone screens
  @media screen and (min-width: 350px) {
  
    html, body {

      h1 {
        font-size: 1.1rem;
      }
      p {
        font-size: .8rem;
      }

      .social-btns {
        gap: .2rem;
        img {
          width: 1.4rem;
        }
      }
    
      header {
        padding: .8rem;
        height: 4rem;
    
        #home {
          display: flex;
          font-size: .4rem;
          text-decoration: none;
          color: #fff;
    
          #logo {
            width: 2rem;
            height: auto;
          }
    
          .logo-top {
            letter-spacing: 0.09em;
            font-weight: 400;
            margin: 0 0 0 .1rem;
          }
          .logo-btm {
            letter-spacing: 0.09em;
            font-weight: 700;
            margin: 0 0 0 .1rem;
          }
        }
      }
  //     // main {
  //       h1 {
  //         font-size: 1rem;
  //       }
  //       p {
  //         font-size: .6rem;
  //       }
        #hero {
          .overlayContent {
            padding: 0 .5rem;
          }
          .overlayContent h1 {
            margin-bottom: .5rem;
          }
          .overlayContent span {
            margin: 0 auto;
          }
          .heroBtn {
            margin: 0 auto;
            padding: .6rem .4rem;
            font-size: .6rem;
            width: 10rem;
            // margin: 0 1.5rem 0 0;
          }
        }
        #about {
          flex-direction: column;
          .aboutText, h1, p {
            margin: .4rem;
          }
        }
        #about2 {
          flex-direction: column;
          .aboutText, h1, p {
            margin: .4rem;
          }
        }
  //         // #eventos {
  //         //   margin: 1rem 1rem;
  //           // h1 {
  //           //   // margin: 7rem 0;
  //           //   margin: 0 auto 1rem 0;
  //           // }
  //           // p {
  //           //   padding: .2rem 0;
  //           //   // font-size: 1.2rem;
  //           // }
  //           // img {
  //           //   width: 100% !important;
  //           // }
  //           // span {
  //           //   gap: .5rem;
  //           // }
  //         // }
          
  //         // #gallery {
  //         //   // margin: 5rem 5rem;
  //         //   img {
  //         //     width: 100% !important;
  //         //   }
  //         // }
  //     }
      footer {
        padding: .4rem;
        height: 4rem;
    
        #footer-logo {
          display: flex;
          flex-direction: row;
          font-size: .4rem;
          // margin: auto 0 auto auto;
    
          #footerLogo {
            width: 2rem;
            height: auto;
          }
    
          .logo-top {
            letter-spacing: 0.09em;
            font-weight: 400;
            margin: 0 0 0 .1rem;
          }
          .logo-btm {
            letter-spacing: 0.09em;
            font-weight: 700;
            margin: 0 0 0 .1rem;
          }
        }
      }
    }
  }

  @media screen and (min-width: 700px) {
    html, body {
      #about {
        flex-direction: row;
      }
      #about2 {
        flex-direction: row;
      }
    }
  } // Tablet
  
  // ////////////////////////////////////////////////////
  // /////////////////// Desktop ////////////////////////
  // ///////////////////////////////////////////////////
  
  @media screen and (min-width: 1100px) {
    html, body {
    
  //     h1 {
  //       font-size: 2rem;
  //     }
  //     p {
  //       font-size: 1rem;
  //     }
  
  //     .social-btns {
  //       margin: auto 2rem;
  //       gap: .5rem;
  //       img {
  //         width: 3rem;
  //       }
  //     }
    
  //     header {
  //       height: 7rem;
    
  //       #home {
  //         display: flex;
  //         text-decoration: none;
  //         color: #fff;
  //         margin: auto 0 auto 3rem;
  
  //         #logo {
  //           width: 5rem;
  //           height: auto;
  //         }
    
  //         .logo-top {
  //           letter-spacing: 0.09em;
  //           font-weight: 400;
  //           margin: 0 1rem;
  //         }
  //         .logo-btm {
  //           letter-spacing: 0.09em;
  //           font-weight: 700;
  //           margin: 0 1rem;
  //         }
  //       }
  //     }
  //     // main {
        // #hero {

        // }
  //       .hero-info {
  //         display: flex;
  //         flex-direction: row;
  //         color: #fff;
  //         margin-top: 36rem;
  //         margin-left: 2rem;
  //         margin-right: 2rem;
  //         width: 100vw;
    
  //         h1 {
  //           margin: 3rem 1rem;
  //         }
  //         p {
  //           margin: 2rem 1rem;
  //           font-size: 1.5rem;
  //         }
  //         .overlayContent {
  //           margin: 0 auto 2rem 2rem;
  //         }
  //       }
  //       // .heroBtn {
  //       //     margin: 0 3rem 0 1rem;
  //       //     padding: 0.6rem;
  //       //     font-size: 2rem !important;
  //       //     width: 16.4rem;
  //       //   }
          #about {
            .aboutText, h1, p {
              margin: 2rem;
            }
          }
          #about2 {
            .aboutText, h1, p {
              margin: 2rem;
            }
          }
                //////////////Eventos2///////////////////////
  
          // .container {
          //   max-width: 90vw;
          //   display: flex;
          //   flex-direction: column;
          //   // margin: 4rem;
  
          //   // .eventosTitle {
          //   //   margin-bottom: 2rem;
          //   // }
  
          //   .carousel {
          //     display: flex;
          //     overflow: hidden;
          //     scroll-behavior: smooth;
              
          //     // &::-webkit-scrollbar {
          //     //   display: none;
          //     // }
  
          //     .item {
          //       background-color: white;
          //       margin: 10px;
          //       padding: 10px;
          //       width: 280px;
          //       border-radius: 16px;
          //       flex: none;
  
          //       .image img {
          //         width: 100%;
          //         height: 100%;
          //         object-fit: cover;
          //         // object-fit: contain;
          //         // margin: 0;
          //       }
          //       .info {
          //         height: 8.75rem;
          //         display: flex;
          //         flex-direction: column;
          //         justify-content: space-between;
  
          //         span {
          //           display: block;
          //           text-align: center;
          //           color: #1e1e1e;
          //           padding: 5px;
          //           border-radius: 10px;
          //         }
          //         .name {
          //           font-size: 1rem;
          //           font-weight: bold;
          //           margin: .2rem 0;
          //           color: #2946BF;
          //         }
          //         .more-info {
          //           font-size: 0.8rem;
          //           // text-decoration: line-through;
          //           color: #2946BF;
          //           flex-grow: 1;
          //         }
          //         .even-more-info {
          //           margin-top: auto;
          //           font-size: .8rem;
          //           font-weight: bold;
          //           background-color: #2946BF;
          //           color: #fff;
          //           cursor: pointer;
          //         }
          //       }
          //     }
          //   }
          //   .buttons {
          //     width: 100%;
          //     text-align: center;
          //     display: flex;
          //     flex-direction: row;
  
          //     button {
          //       background-color: transparent;
          //       // color: #2946BF;
          //       border: none;
          //       cursor: pointer;
  
          //       img {
          //         width: 5rem;
          //       }
          //     }
          //     button:last-child img {
          //       transform: rotate(-180deg);
          //     }
          //   }
          // }
          // .container .carousel .item {
          //   background-color: #fff;
          //   margin: 10px;
          //   padding: 10px;
          //   width: 280px;
          // }
          // .container .carousel .item .image img {
          //   width: 100%;
          //   height: 100%;
          //   object-fit: cover;
          // }
  
        //////////////////////////////////////////////////////
  //         // #eventos {
  //         //   margin: 5rem 6rem;
  //         //   h1 {
  //         //     // margin: 2rem 0;
  //         //     margin: 2rem auto 2rem 0;
  //         //   }
  //         //   p {
  //         //     padding: 1rem 0;
  //         //     font-size: 1.2rem;
  //         //   }
  //         //   span {
  //         //     gap: 2rem;
  //         //   }
  //         // }
  //         #about2 {
  //           .aboutText, h1, p {
  //             margin: 2rem;
  //           }
  //         }
  //         // #gallery {
  //         //   // margin: 5rem 5rem;
  //         // }
  //     // }
    
  //     footer {
  //       display: flex;
  //       flex-direction: row;
  //       height: 7rem;
  //       background: #2946BF;
  //       justify-content: space-between;
    
  //       #footer-logo {
  //         display: flex;
  //         flex-direction: row;
  //         margin: auto 3rem auto 0;
  
  //         #footerLogo {
  //           width: 5rem;
  //           height: auto;
  //         }
    
  //         .logo-top {
  //           letter-spacing: 0.09em;
  //           font-weight: 400;
  //           margin: 0 1rem;
  //         }
  //         .logo-btm {
  //           letter-spacing: 0.09em;
  //           font-weight: 700;
  //           margin: 0 1rem;
  //         }
  //       }
  //     }
    }
  } //desktop