* {
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
    place-self: center;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  
    // border: 1px solid red;
  }
  html, body {
    color: #fff;
    // background: #232323;
    display: flex;
    flex-direction: column;
  
    .blue {
      // color: #2946BF;
      color: #152462;
    }
  
    header {
      display: flex;
      flex-direction: row;
      background: #2946BF;
      justify-content: space-between;
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 3;
    }
    

      section {
        img {
          width: 100%;
          height: auto;
        }
      }
      .overlay {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,0.9) 5%, rgba(0,0,0,0.5) 30%, rgba(255,255,255,0) 50%);
      }
      .gradientDiv {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 40%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
      .heroBtn {
        color: #fff;
        text-decoration: none;
        margin: 0 1rem 0 2rem;
        padding: 1rem .1rem;
        font-size: .6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        width: 8rem;
        height: .2rem;

        border: 2px solid #FFFFFF;
        border-radius: 999px;
      }
      #hero {
        position: relative;
      }
      #about {
        display: flex;
        flex-direction: row;
        background: #00BF63;
      }

      /////////////// ImageSlider ///////////////////
      // .slideStyles {
      //   width: 100%;
      //   height: 100%;
      //   border-radius: 10px;
      //   background-size: cover;
      //   background-position: center;
      // }
      
      // .leftArrowStyles {
      //   position: absolute;
      //   top: 50%;
      //   transform: translate(0, -50%);
      //   left: 32px;
      //   font-size: 45px;
      //   color: #fff;
      //   z-index: 1;
      //   cursor: pointer;
      // }
      
      // .rightArrowStyles {
      //   position: absolute;
      //   top: 50%;
      //   transform: translate(0, -50%);
      //   right: 32px;
      //   font-size: 45px;
      //   color: #fff;
      //   z-index: 1;
      //   cursor: pointer;
      // };
      
      // .sliderStyles {
      //   position: relative;
      //   height: 100%;
      //   margin: 4rem 0;
      // }

      // .dotContainerStyles {
      //   display: flex;
      //   justify-content: center;
      // }

      // .dotStyles {
      //   margin: 0 3px;
      //   cursor: pointer;
      //   font-size: 20px;
      // }

      // .slidesContainerStyles {
      //   display: flex;
      //   height: 100%;
      //   transition: transform ease-out 0.3s;
      // }
      // .slidesContainerOverflowStyles {
      //   overflow: hidden;
      //   height: 100%;
      // }
      
      /////////////////////////////////

      // .container {
      //   display: flex;
      //   flex-direction: column;
      //   // object-fit: contain;
      //   max-width: 124rem;
      //   padding: 4rem 1rem;
      //   margin: 0 auto;
      // }
      // .heading {
      //   padding: 1rem 0;
      //   font-size: 3.5rem;
      //   text-align: center;
      // }
      
      // .swiper_container {
      //   height: 20rem;
      //   padding: 2rem 0;
      //   position: relative;
      // }
      
      // .swiper-slide {
      //   width: 37rem;
      //   height: 42rem;
      //   position: relative;
      // }

      ////////////////////// Image Slider 3 //////////////////////////////
      // .eventos {
      //   width: 100%;
      // }
      // .eventos-container {
      //   align-items: center;
      //   display: flex;
      //   height: 400px;
      //   margin: 0 auto;
      //   max-width: 1000px;
      //   position: relative;
      // }
      // .eventos-item {
      //   height: 200px;
      //   opacity: 0;
      //   position: absolute;
      //   transition: all 0.3s ease-in-out;
      //   width: 330px;
      //   z-index: 0;
      //   border-radius: 15px;
      //   background-size: contain;
      // }
      // .eventos-item-1 {
      //   left: 15%;
      //   opacity: .4;
      //   transform: translateX(-50%);
      // }
      // .eventos-item-2, .eventos-item-4 {
      //   height: 250px;
      //   opacity: 0.8;
      //   width: 380px;
      //   z-index: 1;
      // }
      // .eventos-item-2 {
      //   left: 30%;
      //   transform: translateX(-50%);
      // }
      // .eventos-item-3 {
      //   box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
      //   height: 300px;
      //   opacity: 1;
      //   left: 50%;
      //   transform: translateX(-50%);
      //   width: 430px;
      //   z-index: 2;
      // }
      // .eventos-item-4 {
      //   left: 70%;
      //   transform: translateX(-50%);
      // }
      // .eventos-item-5 {
      //   left: 85%;
      //   opacity: .4;
      //   transform: translateX(-50%);
      // }
      // .eventos-controls {
      //   display: flex;
      //   justify-content: center;
      //   margin: 25px 0;
      //   height: 100px;
      // }
      // .eventos-controls button {
      //   background-color: transparent;
      //   border: 0;
      //   cursor: pointer;
      //   font-size: 30px;
      //   margin: 0 50px;
      //   padding: 0 12px;
      //   text-transform: capitalize;
      // }
      // eventos-controls-button:focus {
      //   outline: none;
      // }
      // eventos-controls-previous {
      //   position: relative;
      // }
      // eventos-controls-previous::before {
      //   border: solid #000;
      //   border-width: 0 5px 5px 0;
      //   content: '';
      //   display: inline-block;
      //   height: 5px;
      //   left: -30px;
      //   padding: 10px;
      //   position: absolute;
      //   top: 25%;
      //   transform: rotate(135deg) translateY(-50%);
      //   transition: left 0.15s ease-in-out;
      //   width: 5px;
      // }
      // .eventos-controls-previous:hover::before {
      //   left: -40px;
      // }
      // .eventos-controls-next {
      //   position: relative;
      // }
      // .eventos-controls-next::before {
      //   border: solid #000;
      //   border-width: 0 5px 5px 0;
      //   content: '';
      //   display: inline-block;
      //   height: 5px;
      //   padding: 10px;
      //   position: absolute;
      //   right: -30px;
      //   top: 45px; // check if px or pure number
      //   transform: rotate(-45deg) translateY(-50%);
      //   transition: right 0.15s ease-in-out;
      //   width: 5px;
      // }
      // .eventos-control-next:hover::before {
      //   right: -40px;
      // }
      // .eventos-nav {
      //   bottom: -15px;
      //   display: flex;
      //   justify-content: center;
      //   list-style: none;
      //   padding: 0;
      //   position: absolute;
      //   width: 100%;
      // }
      // .eventos-nav li {
      //   background: #ccc;
      //   border-radius: 50%;
      //   height: 10px;
      //   margin: 0 16px;
      //   width: 10px;
      // }
      // .eventos-nav li .eventos-item-selected {
      //   background: #555;
      // }

      ////////////////Swiper Card Slider ////////////////////
      
      .eventos {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #efefef;
      }
      .slide-container {
        max-width: 1600px;
        // min-width: 200px;
        width: 100%;
        background-color: grey;
        padding: 40px 20px;
      }
      .slide-content {
        margin: 0 40px;
      }
      .card {
        width: 320px;
        border-radius: 25px;
        background-color: #fff;
      }
      .image-content,
      .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 14px;
      }
      .image-content {
        position: relative;
        row-gap: 5px;
        padding: 0; // adjust value
      }
      .img-overlay {
        position: relative;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #4070f4;
        border-radius: 25px 25px 0 25px;
      }
      .img-overlay::before,
      .img-overlay::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -40px;
        height: 40px;
        width: 40px;
        background-color: #4070f4;
      }
      .img-overlay::after {
        border-radius: 0 25px 0 0;
        background-color: #fff;
      }
      .card-image {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background: #fff;
        padding: 3px;
      }
      .card-image .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 360px;
        border: 4px solid #4070f4;
      }
      // Myabe remove this .name class
      .name {
        font-size: 18px;
        font-weight: 500;
        color: #333;
      }
      .description {
        font-size: 14px;
        color: #707070;
        text-align: center;
      }
      .button {
        border: none;
        font-size: 16px;
        color: #fff;
        padding: 8px 16px;
        background-color: #4070f4;
        border-radius: 6px;
        margin: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .button:hover {
        background: #265df2;
      }

      //////////////////////////////////////////////////////
      
      // #eventos {
        // display: flex;
        // flex-direction: column;
        // margin: 5rem 6rem;
        // h1 {
          // margin: 2rem 0;
          // margin: 2rem auto 2rem 5rem;
        // }
        // p {
          // padding: 1rem 0;
          // font-size: 1.2rem;
        // }
      //   span {
      //     display: flex;
      //     flex-direction: row;
      //     // gap: 2rem;
      //   }
      //   .eventoCard {
      //     display: flex;
      //     flex-direction: column;
      //   }
      // }
      #about2 {
        display: flex;
        flex-direction: row;
        background: #FCFF6D;
      }
      .images-container {
        max-width: 1200px;
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(50px, 1fr));
        gap: 1rem;
      }
      .image {
        width: 100%;
        cursor: pointer;
      }
      .image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
      }
      #gallery {
        display: flex;
        flex-direction: column;
        // margin: 5rem 5rem;
  
        span {
          display: flex;
        }
        .eventoCard {
          display: flex;
          flex-direction: column;
        }
        // .galeriaText {
        //   margin: 2rem auto 2rem 0;
        // }
      }

    footer {
      display: flex;
      flex-direction: row;
      width: 100%;
      background: #2946BF;
      color: #fff;
      justify-content: space-between;
    }
  }
  
  // @media screen and (min-width: 768px) {} 
  
  // Phone screens
  @media screen and (min-width: 350px) {
  
    .social-btns {
      // margin: auto 3rem;
      // display: inline-flex;
      // font-size: 1rem;
      // gap: .5rem;
      img {
        width: 1.4rem;
      }
    }
  
    header {
      padding: .3rem;
      height: 4rem;
  
      #home {
        display: flex;
        font-size: .4rem;
        text-decoration: none;
        color: #fff;
        // margin: auto 0 auto 1rem;
        // margin: 0 .5rem;
  
        #logo {
          width: 2rem;
          height: auto;
        }
  
        .logo-top {
          letter-spacing: 0.09em;
          font-weight: 400;
          margin: 0 0 0 .1rem;
        }
        .logo-btm {
          letter-spacing: 0.09em;
          font-weight: 700;
          margin: 0 0 0 .1rem;
        }
      }
    }
    main {
      h1 {
        font-size: 1rem;
      }
      p {
        font-size: .6rem;
      }
      section {
        img {
          width: 40% !important;
        }
      }
      .hero-info {
        display: flex;
        flex-direction: row;
        color: #fff;
        margin-top: 8rem;
        // margin-left: 2rem;
        // margin-right: 2rem;
        width: 100vw;
  
        h1 {
          margin: .5rem .25rem;
        }
        p {
          margin: .5rem .25rem;
          font-size: .5rem;
        }
        // .gradientDiv {
        //   margin: 0 auto 2rem 2rem;
        // }
      }
      // .heroBtn {
      //     color: #fff;
      //     text-decoration: none;
      //     margin: 0 .6rem 0 .2rem;
      //     padding: 0.6rem .2rem;
      //     font-size: .6rem;
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //     text-align: center;
  
      //     width: 8rem;
      //     height: .2rem;
  
      //     border: 2px solid #FFFFFF;
      //     border-radius: 999px;
      //   }
        #about {
          .aboutText, h1, p {
            margin: .3rem;
          }
        }
        #eventos {
          margin: 1rem 1rem;
          h1 {
            // margin: 7rem 0;
            margin: 0 auto 1rem 0;
          }
          p {
            padding: .2rem 0;
            // font-size: 1.2rem;
          }
          img {
            width: 100% !important;
          }
          span {
            gap: .5rem;
          }
        }
        #about2 {
          .aboutText, h1, p {
            margin: .3rem;
          }
        }
        #gallery {
          // margin: 5rem 5rem;
          img {
            width: 100% !important;
          }
          h1, p {
            margin: .5rem auto .5rem 1rem;
          }
          span {
            gap: .3rem;
          }
          .galeriaText {
            margin: 1rem auto 1rem 0;
          }
        }
    }
    footer {
      padding: .3rem;
      height: 4rem;
  
      #footer-logo {
        display: flex;
        flex-direction: row;
        font-size: .4rem;
        // margin: auto 0 auto auto;
  
        #footerLogo {
          width: 2rem;
          height: auto;
        }
  
        .logo-top {
          letter-spacing: 0.09em;
          font-weight: 400;
          margin: 0 0 0 .1rem;
        }
        .logo-btm {
          letter-spacing: 0.09em;
          font-weight: 700;
          margin: 0 0 0 .1rem;
        }
      }
    }
  }
  @media screen and (min-width: 700px) {} // Tablet
  
  ////////////////////////////////////////////////////
  /////////////////// Desktop ////////////////////////
  ///////////////////////////////////////////////////
  
  @media screen and (min-width: 1100px) {
    html, body {
    
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
      section {
        img {
          width: 100% !important;
        }
      }
  
      .social-btns {
        margin: auto 3rem;
        display: inline-flex;
        // font-size: 1rem;
        gap: .5rem;
        img {
          width: 3rem;
        }
      }
    
    
      header {
        height: 9.375rem;
        // height: 8rem;
    
        #home {
          display: flex;
          text-decoration: none;
          color: #fff;
          margin: auto 0 auto 3rem;
  
          #logo {
            width: 5rem;
            height: auto;
          }
    
          .logo-top {
            letter-spacing: 0.09em;
            font-weight: 400;
            margin: 0 1rem;
          }
          .logo-btm {
            letter-spacing: 0.09em;
            font-weight: 700;
            margin: 0 1rem;
          }
        }
      }
      main {
        .hero-info {
          display: flex;
          flex-direction: row;
          color: #fff;
          margin-top: 36rem;
          margin-left: 2rem;
          margin-right: 2rem;
          width: 100vw;
    
          h1 {
            margin: 3rem 1rem;
          }
          p {
            margin: 2rem 1rem;
            font-size: 1.5rem;
          }
          .gradientDiv {
            margin: 0 auto 2rem 2rem;
          }
        }
        .heroBtn {
            color: #fff;
            text-decoration: none;
            margin: 0 3rem 0 1rem;
            padding: 0.6rem;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            width: 16.4rem;
            height: 4.5rem;
    
            border: 4px solid #FFFFFF;
            border-radius: 999px;
          }
          #about {
            .aboutText, h1, p {
              margin: 2rem;
            }
          }
          #eventos {
            margin: 5rem 6rem;
            h1 {
              // margin: 2rem 0;
              margin: 2rem auto 2rem 0;
            }
            p {
              padding: 1rem 0;
              font-size: 1.2rem;
            }
            span {
              gap: 2rem;
            }
          }
          #about2 {
            .aboutText, h1, p {
              margin: 2rem;
            }
          }
          #gallery {
            // margin: 5rem 5rem;
            
            h1, p {
              margin: 2rem auto 2rem 5rem;
            }
            span {
              gap: 4rem;
            }
            .galeriaText {
              // margin: 1rem;
              margin: 2rem auto 2rem 0;
            }
          }
      }
    
      footer {
        display: flex;
        flex-direction: row;
        height: 9.375rem;
        background: #2946BF;
        justify-content: space-between;
    
        #footer-logo {
          display: flex;
          flex-direction: row;
          margin: auto 3rem auto 0;
  
          #footerLogo {
            width: 5rem;
            height: auto;
          }
    
          .logo-top {
            letter-spacing: 0.09em;
            font-weight: 400;
            margin: 0 1rem;
          }
          .logo-btm {
            letter-spacing: 0.09em;
            font-weight: 700;
            margin: 0 1rem;
          }
        }
      }
    }
  } //desktop