* {
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
  place-self: center;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: grey;
  color: #fff;
}
html .blue, body .blue {
  color: #2946BF;
}
html header, body header {
  display: flex;
  flex-direction: row;
  background: #2946BF;
  justify-content: space-between;
  width: 100vw;
  position: sticky;
  top: 0;
}
html main section img, body main section img {
  width: 100%;
  height: auto;
}
html footer, body footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background: #2946BF;
  justify-content: space-between;
}

@media screen and (min-width: 350px) {
  .social-btns img {
    width: 1.2rem;
  }
  header {
    padding: 0.5rem;
    height: 4rem;
  }
  header #home {
    display: flex;
    font-size: 0.4rem;
    text-decoration: none;
    color: #fff;
  }
  header #home #logo {
    width: 2.4rem;
    height: auto;
  }
  header #home .logo-top {
    letter-spacing: 0.09em;
    font-weight: 400;
    margin: 0 0 0 0.3rem;
  }
  header #home .logo-btm {
    letter-spacing: 0.09em;
    font-weight: 700;
    margin: 0 0 0 0.3rem;
  }
  footer {
    padding: 0.5rem;
    height: 4rem;
  }
  footer #footer-logo {
    display: flex;
    flex-direction: row;
    font-size: 0.4rem;
  }
  footer #footer-logo #footerLogo {
    width: 2.4rem;
    height: auto;
  }
  footer #footer-logo .logo-top {
    letter-spacing: 0.09em;
    font-weight: 400;
    margin: 0 0 0 0.3rem;
  }
  footer #footer-logo .logo-btm {
    letter-spacing: 0.09em;
    font-weight: 700;
    margin: 0 0 0 0.3rem;
  }
}
@media screen and (min-width: 1100px) {
  html h1, body h1 {
    font-size: 2rem;
  }
  html .social-btns, body .social-btns {
    margin: auto 3rem;
    display: inline-flex;
    font-size: 1rem;
    gap: 0.5rem;
  }
  html header, body header {
    height: 9.375rem;
  }
  html header #home, body header #home {
    display: flex;
    text-decoration: none;
    color: #fff;
    margin: auto 0 auto 3rem;
  }
  html header #home #logo, body header #home #logo {
    width: 5rem;
    height: auto;
  }
  html header #home .logo-top, body header #home .logo-top {
    letter-spacing: 0.09em;
    font-weight: 400;
    margin: 0 1rem;
  }
  html header #home .logo-btm, body header #home .logo-btm {
    letter-spacing: 0.09em;
    font-weight: 700;
    margin: 0 1rem;
  }
  html main .hero-gradient, body main .hero-gradient {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.5) 30%, rgba(255, 255, 255, 0) 50%), url("../images/image_10.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  html main .hero-info, body main .hero-info {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-top: 36rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100vw;
  }
  html main .hero-info h1, body main .hero-info h1 {
    margin: 3rem 1rem;
  }
  html main .hero-info p, body main .hero-info p {
    margin: 2rem 1rem;
    font-size: 1.5rem;
  }
  html main .hero-info .gradientDiv, body main .hero-info .gradientDiv {
    margin: 0 auto 2rem 2rem;
  }
  html main .heroBtn, body main .heroBtn {
    color: #fff;
    text-decoration: none;
    margin: 0 2rem 0 2rem;
    padding: 0.6rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 16.4rem;
    height: 4.5rem;
    border: 4px solid #FFFFFF;
    border-radius: 999px;
  }
  html main #about, body main #about {
    display: flex;
    flex-direction: row;
    background: #00BF63;
  }
  html main #about .aboutText, html main #about h1, html main #about p, body main #about .aboutText, body main #about h1, body main #about p {
    margin: 2rem;
  }
  html main #eventos, body main #eventos {
    display: flex;
    flex-direction: column;
    margin: 5rem 6rem;
  }
  html main #eventos h1, body main #eventos h1 {
    margin: 2rem auto 2rem 5rem;
  }
  html main #eventos p, body main #eventos p {
    padding: 1rem 0;
    font-size: 1.2rem;
  }
  html main #eventos span, body main #eventos span {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  html main #eventos .eventoCard, body main #eventos .eventoCard {
    display: flex;
    flex-direction: column;
  }
  html main #about2, body main #about2 {
    display: flex;
    flex-direction: row;
    background: #FCFF6D;
  }
  html main #about2 .aboutText, html main #about2 h1, html main #about2 p, body main #about2 .aboutText, body main #about2 h1, body main #about2 p {
    margin: 2rem;
  }
  html main #gallery, body main #gallery {
    display: flex;
    flex-direction: column;
  }
  html main #gallery h1, html main #gallery p, body main #gallery h1, body main #gallery p {
    margin: 2rem auto 2rem 5rem;
  }
  html main #gallery span, body main #gallery span {
    display: flex;
    gap: 4rem;
  }
  html main #gallery .eventoCard, body main #gallery .eventoCard {
    display: flex;
    flex-direction: column;
  }
  html main #gallery .galeriaText, body main #gallery .galeriaText {
    margin: 2rem auto 2rem 0;
  }
  html footer, body footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 9.375rem;
    background: #2946BF;
    justify-content: space-between;
  }
  html footer #footer-logo, body footer #footer-logo {
    display: flex;
    flex-direction: row;
    margin: auto 3rem auto 0;
  }
  html footer #footer-logo #footerLogo, body footer #footer-logo #footerLogo {
    width: 5rem;
    height: auto;
  }
  html footer #footer-logo .logo-top, body footer #footer-logo .logo-top {
    letter-spacing: 0.09em;
    font-weight: 400;
    margin: 0 1rem;
  }
  html footer #footer-logo .logo-btm, body footer #footer-logo .logo-btm {
    letter-spacing: 0.09em;
    font-weight: 700;
    margin: 0 1rem;
  }
}/*# sourceMappingURL=styles.css.map */